body {
	background-color: #F8F8F8;
}

.round {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.fullwidth {
	width: 980px;
	margin: auto;
}

.innerfull {
	width: 960px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#everything {
	border: 1px solid #ccc;
	background-color: #FFF;
}

#header {
	background-image: url("images/guitar.png");
	height: 128px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #ccc;
}

#navigation {
	min-height: 64px;
	border: 1px solid #ccc;
	overflow: hidden;
	text-align: center;
	/*display: table;*/
}

.navigationitem {
	width: 138px;
	height: 48Px;
	line-height: 48px;
	border: 1px solid #ccc;
	float: left;
	margin: 10px;
}

.navigationitem:hover {
	background-color: #eee;
}

#content {
	min-height: 500px;
	border: 1px solid #ccc;
}

#login {
	text-align: center;
}

.contentitem {
	width: 940px;
	min-height: 64Px;
	border: 1px solid #ccc;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #eeffee;
	overflow: hidden;
	text-align: center;
}

.contentitemitem {
	width: 138px;
	border: 1px solid #ccc;
	height: 48Px;
	line-height: 48px;
	float: left;
	margin: 10px;
	background-color: #f8fff8;
	display: block;
}

.contentitem  .contentitemitem {
	width: 134px;
}

.contentitemitem:hover{
	background-color: #f8f8ff;
}

.contentitemheader{
	height: 48Px;
	line-height: 48px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contentsectionheader{
	border-bottom: 1px solid #ccc;
	width: 100%;
	text-align: left;
	padding-left: 25px;
}

.contentsection{
	overflow: hidden;
}

.errormessage {
	background-color: #ffcccc;
}

.successmessage {
	background-color: #ccffcc;
}

.warningmessage {
	background-color: #ffd8cc;
}

.bigfont {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

#footer {
	min-height: 64px;
	border: 1px solid #ccc;
}

#throbber {
	width: 64px;
	height: 64px;
}

#loading {
	display: none;
	width: 64px;
	height: 64px;
	background-image: url("images/throbber.png");
}

div.jGrowl div.good {
	background-color: 		#ccffcc;
	color: 							navy;
}

div.jGrowl div.bad {
	background-color: 		#FFcccc;
	color: 							navy;
}